/*SECTION-ABOUT===========================*/

.section-about {
    padding-top: 120px;
    padding-bottom: 200px;
  }
  
  .section-about-heading {
    margin-bottom: 120px;
    padding: 50px 0;
    border-bottom: 1px solid var(--main-color); 
    border-top: 1px solid var(--main-color); 
    font-size: 7vw;
    font-style: italic;
    white-space: nowrap;
  }
  
  .section-about__title h2 {
    font-size: 60px;
  }
  
  .section-about__label p {
    margin-left: 16px;
    white-space: nowrap;
  }
  
  .section-about__description {
    margin-top: 80px;
  }
  
  .section-about__description--mr {
    margin-right: 32px;
  }
  
  .section-about__description-p {
    margin-bottom: 80px;
  }


  @media (max-width: 800px) {
    .section-about {
      padding-top: 120px;
      padding-bottom: 60px;
    }
    .section-about-heading {
      margin-bottom: 60px;
    }
    .section-about__title h2 {
      font-size: 40px;
    }
    .section-about__description--mr {
      margin-right: 13px;
    }
    
    .section-about__description-p {
      margin-bottom: 18px;
    }
  }

  @media (max-width: 500px) {
    .section-about__title h2 {
      font-size: 24px;
    }
    .section-about__description--mr {
      margin-right: 3px;
    }
    
    .section-about__description-p {
      margin-bottom: 8px;
    }
    .section-about__description button {
      margin: 20px 0;
    }

    .pc-version-button {
      display: none;
    }

    
  }