/*SECTION-CONTACT-US======================*/

.section-contact{
    padding: 80px 4%;
    border-top: 1px solid var(--main-color);  
  }
  
  .contact__title {
    font-size: 96px;
    padding: 80px 0;
  }
  
  .circled-contact {
    background-image: url("images/circled-contact.svg");
    background-size: cover;
    background-position: center;
  }
  
  .contact__item {
    margin-bottom: 80px;
  }
  
  .contact__description {
    margin-top: 16px;
    font-size: 34px;
  }

  @media (max-width: 1700px) {
    .contact__title {
      font-size: 72px;
      padding: 70px 0;
    }
  }
  @media (max-width: 800px) {
    .section-contact {
      display: flex;
      flex-direction: column-reverse;
    }
    .contact__title {
      font-size: 48px;
      padding: 40px 0;
    }
  }
  @media (max-width: 500px) {
    .contact__title {
      font-size: 28px;
      padding: 30px 0;
    }
    .contact__description {
      margin-top: 10px;
      font-size: 18px;
    }
    .contact__item {
      margin-bottom: 60px;
    }
  }