/*SECTION-OURPROCESS=======================*/

.section-our-process {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .process-step {
    margin-bottom: 64px;
    padding: 24px 80px 48px 142px;
    border-bottom: 1px solid var(--main-color); 
    position: relative;
  }
  
  .wrapper__toggle {
    position: absolute;
    top: 12px;
    right: 0;
  }
  
  .process-step__num {
    position: absolute;
    top: 24px;
    left: 0;
    color: var(--hover-background-color);
    font-size: 24px;
  }
  
  .process-step__toggle {
    position: relative;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: var(--main-color); 
    transition: transform 0.5s ease;
  }
  .inner-circle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .inner-circle:nth-child(1) {
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .inner-circle:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .inner-circle:nth-child(3) {
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .process-step__heading {
    margin: 32px 0;
    font-size: 48px;
  }
  
  .process-step__description {
    padding: 32px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  
  .process-step__description button {
    margin-top: 64px;
  }
  
  .change-background {
    background-color: var(--hover-background-color);
  }
  
  .rotate {
    transform: rotate(90deg);
  }

  @media (max-width: 800px) {
    .section-our-process {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .process-step__heading {
      margin: 16px 0;
      font-size: 28px;
    }
    
    .process-step__description {
      padding: 16px;
    }
    
    .process-step__description button {
      margin-top: 48px;
    }
  }

  @media (max-width: 500px) {
    .process-step {
      margin-bottom: 24px;
      padding: 20px 20px 20px 40px;
    }
    .section-our-process {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .process-step__heading {
      margin-top: 28px;
      margin-bottom: 14px;
      font-size: 20px;
    }
    
    .process-step__description {
      padding: 16px;
      text-align: justify;
    }
    
    .process-step__description button {
      margin-top: 24px;
    }
    .wrapper__toggle {
      position: absolute;
      top: 9px;
      right: 0;
    }
    
    .process-step__num {
      position: absolute;
      top: 15px;
      left: 0;
      color: var(--hover-background-color);
      font-size: 24px;
    }
  }