@import "./css/ReusableProp.css";
@import "./css/Header.css";
@import "./css/Welcome.css";
@import "./css/AboutUs.css";
@import "./css/BrandReview.css";
@import "./css/ContactUs.css";
@import "./css/OurProcess.css";
@import "./css/OurWork.css";
@import "./css/SelectedWork.css";
@import "./css/Testimonials.css";
@import "./css/Footer.css";


:root {
  --main-color: #1d201f; 
  --hover-background-color: #ff3c00;
  --grey-background-color: #f5f5f5;
}


body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--main-color)
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
